<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="7.7.3" targetFramework="net452" />
  <package id="EPPlus.Interfaces" version="8.1.0" targetFramework="net452" />
  <package id="EPPlus.System.Drawing" version="7.7.0" targetFramework="net452" />
  <package id="RestSharp" version="104.4.0" targetFramework="net40" />
  <package id="Syncfusion.Compression.Base" version="22.1.34" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="27.2.5" targetFramework="net452" />
  <package id="Syncfusion.XlsIO.WinForms" version="22.1.34" targetFramework="net452" />
</packages>