################################################################################
# Visual Studio
################################################################################

**/bin/
**/obj/
**/.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
*.vsidx
*.cache

# ClickOnce
publish/
app.publish/
**/app.publish/

# NuGet
packages/
!packages/build/

# ReSharper
_ReSharper*/
*.DotSettings.user

# Logs
*.log

# Compressed files
*.7z
*.zip
*.rar

# Claude Code
.claude/
**/.claude/