################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PurchaseOrderSystem/.vs/PurchaseOrderSystem/v17/.suo
/SalesOrderSystem/.vs/SalesOrderSystem/v17/.suo
