<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=172.16.3.4;Initial Catalog=poc;Integrated Security=false;User Id=iwg;Password=12345;Connect Timeout=900;" providerName="System.Data.SqlClient"/>
    <add name="ConStringEschler" connectionString="Data Source=172.16.3.10;Initial Catalog=gemmasoft;Integrated Security=false;User Id=iwg;Password=sa;Connect Timeout=900;" providerName="System.Data.SqlClient"/>
    <add name="PRL.My.MySettings.pocConnectionString" connectionString="Data Source=172.16.3.4;Initial Catalog=poc;User ID=iwg;Password=12345;Connect Timeout=900;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
